<p>users-register works!</p>
  <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

<form [formGroup]="registerForm">
    
   
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
          <label class="w-6rem">Username</label>
          <input pInputText id="username" type="text" class="w-12rem" formControlName="username"/>
        <div class="alert alert-danger" *ngIf="registerForm.controls?.['username']?.errors?.['required']">this feild is required</div>
        <div class="alert alert-danger" *ngIf="registerForm.controls?.['username']?.errors?.['minlength']">this feild is must be at least 3 letters</div>
 </div>
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
          <label class="w-6rem">Password</label>
          <input pInputText id="password" type="password" class="w-12rem" formControlName="password" #psw/>
          <div class="alert alert-danger" *ngIf="registerForm.controls?.['password']?.errors?.['required']">this feild is required</div>
          <div class="alert alert-danger" *ngIf="registerForm.controls?.['password']?.errors?.['minlength']">this feild is must be at least 6 letters</div>
        </div>
        <div class="flex flex-wrap justify-content-center align-items-center gap-2">
            <label class="w-6rem">Email</label>
            <input pInputText id="username" type="text" class="w-12rem" formControlName="email"/>
          <div class="alert alert-danger" *ngIf="registerForm.controls?.['email']?.errors?.['required']">this feild is required</div>
          <div class="alert alert-danger" *ngIf="registerForm.controls?.['email']?.errors?.['email']">this mail is not valid</div>
   </div>
   <div class="flex flex-wrap justify-content-center align-items-center gap-2">
    <label class="w-6rem">FirstName</label>
    <input pInputText id="username" type="text" class="w-12rem" formControlName="firstname"/>
  <div class="alert alert-danger" *ngIf="registerForm.controls?.['firstname']?.errors?.['required']">this feild is required</div>
</div>
<div class="flex flex-wrap justify-content-center align-items-center gap-2">
    <label class="w-6rem">LastName</label>
    <input pInputText id="username" type="text" class="w-12rem" formControlName="lastname"/>
  <div class="alert alert-danger" *ngIf="registerForm.controls?.['lastname']?.errors?.['required']">this feild is required</div>
</div>
<div class="flex flex-wrap justify-content-center align-items-center gap-2">

   <p-button label="Register" icon="pi pi-user" styleClass="w-10rem mx-auto"  [disabled]="!registerForm.valid"></p-button>  
    </div>
         


  </form>
  